* {
  border: 0;
}

main {
  align-items: center;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  width: 360px;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  margin: 15px 15px;
  text-align: center;
}

.dies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-bottom: 40px;
}

.game-button {
  background-color: #5035FF;
  border: 3px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 40px;
}

.game-button:hover {
  border: 3px solid rgb(0, 0, 0);
}
