* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #0b2434;
  display: flex;
  font-family: "Karla", sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
